<?xml version="1.0" encoding="UTF-8"?><config xmlns="http://www.xfa.org/schema/xci/1.0/">
    <agent name="designer">
        <destination>pdf</destination>
        <pdf>
            <!--  [0..n]  -->
            <fontInfo/>
        </pdf>
    </agent>
    <present>
        <!--  [0..n]  -->
        <pdf>
            <!--  [0..n]  -->
            <version>1.65</version>
            <creator>Adobe LiveCycle Designer ES 8.2</creator>
            <producer>Adobe LiveCycle Designer ES 8.2</producer>
            <scriptModel>XFA</scriptModel>
            <interactive>1</interactive>
            <tagged>1</tagged>
            <fontInfo>
                <embed>1</embed>
            </fontInfo>
            <compression>
                <level>6</level>
                <compressLogicalStructure>1</compressLogicalStructure>
                <compressObjectStream>1</compressObjectStream>
            </compression>
            <linearized>1</linearized>
            <silentPrint>
                <addSilentPrint>0</addSilentPrint>
                <printerName/>
            </silentPrint>
            <viewerPreferences>
                <addViewerPreferences>0</addViewerPreferences>
                <duplexOption>simplex</duplexOption>
                <numberOfCopies>0</numberOfCopies>
            </viewerPreferences>
        </pdf>
        <common>
            <data>
                <xsl>
                    <uri/>
                </xsl>
                <outputXSL>
                    <uri/>
                </outputXSL>
                <adjustData>1</adjustData>
                <uri/>
            </data>
            <messaging/>
            <locale/>
            <log>
                <to>memory</to>
                <mode>overwrite</mode>
            </log>
            <template>
                <base>C:\Documents and Settings\rfernandez\Desktop\EFS-Web\10\October\October 18\</base>
            </template>
        </common>
        <cache>
            <renderCache/>
        </cache>
        <script>
            <runScripts/>
            <exclude/>
            <currentPage/>
        </script>
        <copies/>
        <layout/>
        <xdp>
            <packets>*</packets>
        </xdp>
        <destination>pdf</destination>
        <output>
            <to>uri</to>
            <uri>C:\Documents and Settings\rfernandez\Desktop\EFS-Web\10\October\October 18\updated_IDS.pdf</uri>
        </output>
    </present>
    <psMap/>
    <?originalXFAVersion http://www.xfa.org/schema/xci/2.8/?>
    <acrobat>
        <acrobat7>
            <dynamicRender>required</dynamicRender>
        </acrobat7>
        <common>
            <locale/>
            <data>
                <xsl>
                    <uri/>
                </xsl>
                <outputXSL>
                    <uri/>
                </outputXSL>
                <adjustData>1</adjustData>
                <uri/>
            </data>
            <template>
                <base>C:\Documents and Settings\rfernandez\Desktop\EFS-Web\10\October\October 18\</base>
                <relevant/>
                <uri/>
            </template>
        </common>
    </acrobat>
</config>
